.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.hero__logo-wrapper{
    display: flex;
    align-items: center;
    gap: 6px;
}
.hero__logo-text{
    color: #333;
}
.hero__list{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
}
.hero__search{
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero__search input{
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.75%;
    vertical-align: middle;    
    width: 80px;
    height: 25px;
    border: none;
}
.hero__btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #4762FF;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 8px 15px;
}
.hero__btn p{
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.75%;
    text-align: center;
    vertical-align: middle;    
}


.hero__section-content{
    background-image: url(/images/hero-bg.svg);
    margin-top: 15px;
    padding: 110px;
}
.hero__section-title{
    width: 582px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;   
    color: #fff; 
}
.hero__section-text{
    width: 450px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%; 
    margin: 16px 0 32px;
    color: #fff;
    opacity: 0.8;
}
.hero__section-btn{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;    
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #4762FF;
    color: #fff;
}


.information__section{
    padding: 68px 0 76px;
}
.information__content-wrapper{
    display: flex;
    gap: 40px;
}

.information__contents h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;    
    color: #333;
    margin-bottom: 16px;
}
.information__contents p{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;   
    color: #333; 
    opacity: 0.8;
    margin-bottom: 16px;
}
.information__contents-btn{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;   
    padding: 15px 48px; 
    background-color: #4762FF;
    color: #fff;
    border: none;
    border-radius: 8px;
}



.catalog__content h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 64px;
}
.catalog__cards-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 58px;
}
.catalog__card h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;    
}
.catalog__card p{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #333;
    opacity: 0.9;
}
.catalog__card button{
    width: 213px;
    height: 41px;
    background-color: #4762FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;    
    margin-top: 14px;
}
.catalog__card-piece{
    color: #333;
    opacity: 0.7;
}